# Wails build output
build/bin

# stray binary from `go build ./...` at repo root
/parallax-mod-manager

# Frontend
frontend/node_modules
frontend/dist

reference-src/
reference-src2/
reference-src3/


# IDE
.vscode/*
!.vscode/settings.json
CLAUDE.md
mockup/

docs/
*.gobcache
test_old.jsonc
